<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <h1 class="px-4 mb-0 display-4 bg-light text-dark">День добрый!
    Квартирку выбираем?</h1>
  <div class="row bg-light">
    <div class="col-5">
      <form method="GET" class="input-group m-3 mt-4 ml-4" action="{% url 'main:cian_render' %}">
        <input class="form-control" placeholder="Я ищу..." name="query" value="{{ request.GET.query }}">
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit">Найти</button>
        </div>
      </form>
      
      <div class="container ml-2">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="col-7">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="h5 float-right my-4 mx-4 text-secondary bg-light">Выйти</a>
      <a href="{% url 'profile' %}" class="h5 float-right my-4 text-success bg-light">Избранное</a>
      {% else %}
      <a href="{% url 'register' %}" class="h5 float-right my-4 mx-4 text-dark">Регистрация</a>
      <a href="{% url 'login' %}" class="h5 float-right my-4 text-success bg-light">Войти</a>
      {% endif %}
    </div>
  </div>

  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Площадь</th>
        <th>Этаж</th>
        <th>Цена, руб/мес</th>
        <th>Адрес
          <a href="{% url 'main:delete_apartment' %}"
            class="float-right text-danger mr-3">Удалить всё</a>
          <a href="{% url 'main:load_apartment' %}"
            class="float-right text-info mx-3">Обновить выдачу</a>
          <a class="float-right text-dark">Всего объявлений: {{ ads_count }}</a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.total_area }} м²</td>
        <td>{{ item.floor }}</td>
        <td>{{ item.price }}</td>
        {% if user.is_authenticated and item in favs %}
        <td>{{ item.address }}<a class="ml-2" title="Убрать из избранного" href="{% url 'add_favorite' pk=item.pk %}">★</a> </td>
        {% else %}
        <td>{{ item.address }}<a class="ml-2" title="В избранное" href="{% url 'add_favorite' pk=item.pk %}">☆</a> </td>
        {% endif %}  
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'pagination.html' %}
</body>

</html>
